.container {
    width: 1080px;
    margin: 0 auto 8px auto;
    overflow: hidden;
}

.left {
    width: 740px;
    height: 428px;
    background-color: red;
    float: left;
    overflow: hidden;
}

.left > img {
    width: 100%;
}

.right {
    width: 322px;
    height: 428px;
    background-color: blue;
    float: right;
    overflow:hidden;
    
    background-image : url("float.jpg");
    background-size: cover; 
    background-position: center center;
}

.gnb { 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    background-color: green;
}

.gnb li {
    list-style-type: none;
    padding-left: 16px;
    float: left;    
}

.gnb li:nth-child(1) {
    padding-left: 0;
}

.rank {
    float: right;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    background-color: yellow;
    /*
        padding: 8px 0;

        padding: 8px 0 8px 0;
    */
}

.rank li {
    float:right;
    list-style-type: none;
}
.footer {
    height: 80px;
    background-color: yellow;
}
.rgb { 
    float: left;
    list-style-type: none;
}
.float1 {
    float: right;
    padding: 10px;

}
.zara li{
    float: left;
    padding: 0px 0px 0px 1000px;
    list-style-type: none;
    

}